body{
    width: 100%;
    background: #EEEEEE;
    margin:0; 
    padding:0;
    overflow-x: hidden;
}

header{ 
    position: fixed;    
    top: 0;
    left: 0;
    height: 73px;    
    width: inherit;
    color: #FFFFFF;
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 0px 0px 21px;
    font-style: normal;
    font-weight: normal;
    z-index: 2;
}

header h1{
    font-family: Righteous;
    font-size: 44px;
    letter-spacing: -0.012em;
}

header h2{
    font-family: Roboto;
    font-size: 18px;
}

main{
    max-width: inherit;
    margin: 110px auto 108px auto;
}

section h1{
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.018em;
    color: #333333;    
    margin-left: 19px;
} 

section{
    margin-top: 27px;
}

.container-img{
    width: 144px;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 8px;
}

.container-img img{
    height: 100%;
    width: 100%;
}

section .container-img img{
    width: auto;
}

.options{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 17px 0px 0px 19px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.option{
    position: relative;
    width: 144px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 16px;
    padding: 18px 14px 0px;
    font-family: Roboto;
    font-style: normal;
    cursor: pointer;
}

.opcao_selecionada {
    position: relative;
    width: 144px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 5px #32B72F inset,  0px 4px 4px rgba(0, 0, 0, .25);
    border-radius: 9px;
    margin-right: 16px;
    padding: 18px 14px 0px;
    font-family: Roboto;
    font-style: normal;
    cursor: pointer;
}

.item{
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    margin-bottom: 11px;
}

.description{
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    margin-bottom: 44px;
}

.price{
    position: absolute;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    left: 14px;
    bottom: 13px;
}

.option .check{
    display: none;
    background-image: url(../assets/img/check.png);
    width: 17px;
    height: 17px;
    position: absolute;
    right: 15px;
    bottom: 11px;
}

.option .check{
    background-image: url(../assets/img/check.png);
    width: 17px;
    height: 17px;
    position: absolute;
    right: 15px;
    bottom: 11px;
}

.escondido{
    display: none;
}

footer{        
    position: fixed;
    width: 100%;
    height: 92px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0,0,0,.10);
    z-index: 2;
}

footer button{
    border-radius: 50px;
    border: none;
    width: 100%;
    font-size: 20px;
    margin: 0 25px;
    padding: 0 25px;
    height: 61px;
    color: #FFFFFF;
    transition: .5s;
    text-align: center;
}

footer button:focus{
    outline: none;
}

footer button:disabled,button[disabled]{
    background: #CBCBCB;
}

#caixa_sobrepor_fechar_pedido{
    box-sizing: content-box;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 435px;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.barra_confirmar_pedido {
    font-size: 22px;
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    border-radius: 9px;
    width: 377px;
    height: auto;
    margin: 0px 18px;
    background: #50D074;    
    color: #FFFFFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    padding: 21px 24px 2px 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.018em;
}

.barra_confirmar_pedido .titulo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.resumo_pedido {
    text-align: justify;
}

.barra_confirmar_pedido p {
    margin-bottom: 13px;
}

.barra_confirmar_pedido input{
    width: 100%;
    height: 26px;
    font-size: 15px;
    border-radius: 9px;
    display: inline;
    outline: 0px;
    border: none;
    color: rgb(114, 114, 114);
    padding-left: 10px;
}

.aviso_erro_desativado{
    display: none;
}

.aviso_erro_ativado{
    display: block;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.barra_confirmar_pedido button{
    font-size: 22px;
    height: 52px;
    font-weight: bold;
    cursor: pointer;
}

.botao_tudo_certo{
    margin-top: 10px;
    background: #FFFFFF;
    color: #50D074;
}

.botao_cancelar{
    color: #FFFFFF;
    font-size: 20px;
    background: #50D074;
}