body{
    width: 414px;
    background: #EEEEEE;;
    font-family: 'Roboto', sans-serif;
    color: #262626;
}

ion-icon {
    font-size: 24px;
    z-index:1;
    cursor: pointer;
}

a:link, a:visited {
    color: #262626;
}

.barra-topo{
    position: fixed;
    top: 0;
    left: 0;
    width:inherit;
    height: 92px;
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 21px;
    padding-top: 19px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    z-index: 2;
}

.barra-topo .logotipo {
    font-family: Righteous;
    font-size: 44px;
    letter-spacing: -0.012em;
}

.barra-topo .sublogo {
    font-family: Roboto;
    font-size: 18px;
    margin-top: 5px;
}

.conteudo {
    width: inherit - 19px;
}

.titulo {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.018em;
    color: #333333;    
    margin-left: 19px;
} 

.barra-prato {
    margin-top: 123px;
}

.barra-bebida{
    margin-top: 27px;
}  

.barra-sobremesa {
    margin-top: 27px;
    margin-bottom: 108px;
}

.container-img {
    width: 144px;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 8px;
}

.container-img img {
    height: 100%;
    width: 100%;
}

.barra-bebida .container-img img {
    width: auto;
}

.opcoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 17px;
    margin-left: 19px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.opcao {
    position: relative;
    width: 144px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 16px;
    padding: 18px 14px 0px;
    font-family: Roboto;
    font-style: normal;
}

.item {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    margin-bottom: 11px;
}

.descricao {
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    margin-bottom: 44px;
}

.preco {
    position: absolute;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    left: 14px;
    bottom: 13px;
}

.barra-fechar_pedido {    
    width: inherit;
    height: 92px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 25px;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0,0,0,.10);
    z-index: 2;
}

.barra-fechar_pedido button {
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    border: none;
}