body{
    width: 414px;
    background: #EEEEEE;
    margin:0; 
    padding:0;
}

.barra-topo{ 
    position: fixed;    
    top: 0;
    left: 0;
    height: 92px;    
    width: inherit;
    color: #FFFFFF;
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 19px 0px 0px 21px;
    font-style: normal;
    font-weight: normal;
    z-index: 2;
}

.barra-topo .logotipo {
    font-family: Righteous;
    font-size: 44px;
    letter-spacing: -0.012em;
}

.barra-topo .sublogo {
    font-family: Roboto;
    font-size: 18px;
    margin-top: 5px;
}

.conteudo {
    max-width: inherit;
    margin: 123px auto 108px auto;
}

.titulo {
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.018em;
    color: #333333;    
    margin-left: 19px;
} 

.barra-bebida{
    margin-top: 27px;
}  

.barra-sobremesa {
    margin-top: 27px;
}

.container-img {
    width: 144px;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 8px;
}

.container-img img {
    height: 100%;
    width: 100%;
}

.barra-bebida .container-img img {
    width: auto;
}

.opcoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 17px 0px 0px 19px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.opcao {
    position: relative;
    width: 144px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-right: 16px;
    padding: 18px 14px 0px;
    font-family: Roboto;
    font-style: normal;
}

.item {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    margin-bottom: 11px;
}

.descricao {
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    margin-bottom: 44px;
}

.preco {
    position: absolute;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    left: 14px;
    bottom: 13px;
}

.selecionado{
    box-shadow: 0px 0px 0px 5px #32B72F inset,  0px 4px 4px rgba(0, 0, 0, .25);
}

.check{
    background-image: url(../img/check.png);
    width: 17px;
    height: 17px;
    position: absolute;
    right: 15px;
    bottom: 11px;
}

.escondido{
    display: none;
}

.barra-fechar_pedido {        
    position: fixed;
    width: 433px;
    height: 92px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0,0,0,.10);
    z-index: 2;
}

button{
    border-radius: 50px;
    border: none;
    width: 100%;
}

button:focus{
    outline: none;
 }

#botao-pedir{
    font-size: 20px;
    margin: 0px 25px;
    height: 61px;
    color: #FFFFFF;
    transition: .5s;
}

.botao-desativado{
    background: #CBCBCB;
}

.botao-ativado{
    background: #32B72F;
    font-weight: bold;
}

.caixa-sobrepor_fechar-pedido{
    box-sizing: content-box;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.barra_confirmar-pedido{
    font-size: 22px;
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    border-radius: 9px;
    color: #FFFFFF;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0px 10px;
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    padding: 21px 15px 3px 15px;
}

#barra_confirmar-pedido > span:first-of-type{
    font-weight: bold;
    margin: 15px 0px;
}

#barra_confirmar-pedido ul{
    width: 100%;
}

#barra_confirmar-pedido li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resumo_pedido  li{
    margin: 15px 0px;
}

.resumo_pedido li span{
    margin-right: 10px;
}

.resumo_pedido li:last-of-type{
    font-weight: bold;
}

.dados_cliente li{
    margin: 8px 0px;
}

#barra_confirmar-pedido input{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-radius: 9px;
    display: inline;
    outline: 0px;
    border: none;
    color: rgb(114, 114, 114);
    padding-left: 10px;
}

.erro{
    color: rgb(204, 0, 0);
    font-size: 13px;
    background-color: rgb(255, 235, 124);
    border: 2px solid rgb(255, 235, 124);
}

#barra_confirmar-pedido button{
    font-size: 22px;
    height: 52px;
    font-weight: bold;
}

.botao_tudo-certo{
    margin-top: 10px;
    background: #FFFFFF;
    color: #50D074;
}

.botao_cancelar{
    color: #FFFFFF;
    font-size: 20px;
    background: #50D074;
}